@using EM.Domain.Entities
@model IEnumerable<Evenement>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Tenant/Views/Shared/_Tenant.cshtml";
}

@section page {
    Index
}


@using (Html.BeginForm("ExportData", "Evenement", FormMethod.Post))
{

    <button type="Submit">Export to Excel</button>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}



</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<input type="text" id="search_input" class="form-control" placeholder="Search your prefer event" aria-label="Amount (to the nearest dollar)">
<div id="search_output" class="dl-dropdown dl-layout-container dl-layout-spacing-xs-0 dl-layout-align-xs-center" style="left: 0px; top: -10.5px;"> </div><br>



<script>


                                        $("#search_input").keyup(function () {

                                                var i = $("#search_input").val();
                                                $.ajax({
                                                    type: "GET",
                                                    url: "/Evenement/GetSearch",
                                                    dataType: 'json',
                                                    data:{'s':i},
                                                    success: function (data) {

                                                        $("#search_output").html("<table id='res' class='table table-striped table-bordered' cellspacing='0' width='100%'><thead><tr> <th>theme </th> <th>location </th>        <th> date debut <th></tr></thead><tbody>");
                                                        $.each(data, function (key, el) {
                                                            $('#res').append(
                                       "<tr>" +

                                       "<td>" + el.theme + "</td>" +
                                       "<td>" + el.location + "</td>" +
                                       "<td>" + el.StartDate + "</td>" +


                                       "</tr>"
                                                           )
                                                        });
                                                        $('#res').append("</tbody></table>")



                                                    }

                                                });
                                        });
</script>
